a {
    color: #2B2B2B;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.header {
    height: 13.0rem;
    background-color: #fff;
    position: relative;
    /*position: fixed;
    z-index:100;
    width: 100%;
    top:0*/
}

.logo {
    color: #ff3d3d;
    font-size: 7.2rem;
    font-weight:600;
    position: absolute;
    left:3rem;
    top:0.5rem;
}

.logo .subtitle {
    font-size: 3.0rem;
    font-weight: 300;
    color: #2B2B2B;
    position: absolute;
    left:12.8rem;
    top:6.5rem;
}

.menu {
    position: absolute;
    right: 3.5rem;
    top:4.0rem;
    font-size: 3.0rem;
}

.menu li {
    float: left;
    margin-left: 3.5rem;
}

.section-1 {
    /*margin-top: 13.0rem;*/
    width: 100%;
    height: 57.0rem;
    background: url(../images/bg.jpg) no-repeat center 0;
    background-size: cover;
    position: relative;
     overflow: hidden;
}

    .section-1 .text {
        /*height: 57.0rem;*/
        font-size: 4.2rem;
        font-weight: 300;
        color: #FFF;
        position: absolute;
        bottom: 6.0rem;
        left: 3.0rem;
        text-shadow: 0 1px 0 rgba(0,0,0,0.2);
        z-index:1;
       
    }

        .section-1 .text span{
            color: #ff3d3d;
            font-weight: 400;
        }

    .iphone {
        background: url(https://raw.githubusercontent.com/sook/sook.github.io/master/images/iPhone2.png) no-repeat center center;
        background-size: 66.1rem 70.6rem;
        width: 66.1rem;
        height: 70.6rem;
        position: absolute;
        top:16rem;
        left:35rem;
        z-index:0;
    }

.section-2 {
    background-color: #fff;
    width: 100%;
    padding-bottom: 8.0rem;
    z-index:2;
    position: relative;
}

    .section-2 h1 {
        margin: 0;
        padding: 0;
        text-align: center;
        padding-top: 5.7rem;
        color: #2B2B2B;
        font-size: 7.2rem;
        font-weight: 400;
    }

    .second-text {
        font-size: 2.5rem;
        color: #606060;
        text-align: center;
        padding-top: 2.0rem;
        max-width: 68.0rem;
        margin: auto;
    }

    .section-2 ul {
        padding-top: 4.0em;
        margin: auto;
    }

    .section-2 li {
        float: left;
        margin-right: 35px;
        width:30%;
        
    }

    .section-2 li:last-child {
        margin-right: 0px;
    }

    .service-title {
        text-align: center;
        color: #2b2b2b;
        background-color: red;
        padding-top: 6.0em;
        height: 25.0rem;
        font-weight: 600;
    }

    .service-description {
        font-size: 2.0rem;
        color: #606060;
        text-align: justify;
    }

    .section-2 p {
        padding-bottom: 2.0rem;
    }

    .service-1 {
        background: url(../images/puzzle.png) no-repeat center 0;
        background-size: 10rem;
    }

    .service-2 {
        background: url(../images/iphone.png) no-repeat center 0;
        background-size: 6.5rem;
    }

    .service-3 {
        background: url(../images/bulb.png) no-repeat center 0;
        background-size: 10rem;
    }

    

.section-3 {
    clear:both;
    width: 100%;
}
    .section-3 .half:last-child {
        
        float: right;
    }

    .section-3 .half {
        float: left;
        width: 48%;
    }

    .section-3 h1 {
        margin: 0;
        padding: 0;
        color: #2B2B2B;
        font-size: 7.2rem;
        font-weight: 400;
    }

    .section-3 p {
        font-size: 2.0rem;
        color: #606060;
        padding-bottom: 4.0rem;
    }

    .section-3 input[type="text"], .section-3 input[type="email"], .section-3 textarea {
        width: 100%;
        margin-bottom: 2rem;
        border: 2px solid #eaeaea;
        padding: 0.5rem;
        border-radius: 2px;
        -webkit-appearance: none;
    }

    .section-3 input[type="text"]:focus, .section-3 input[type="email"]:focus, .section-3 textarea:focus {
        border: 2px solid #4f5bb2;
        outline: none;
    }

    .section-3 input[type="submit"] {
        background-color: #2fa860;
        color: #fff;
        border:none;
        padding: 1.0rem 4.0rem 1.0rem 4.0rem;
        border-radius: 2px;
        border: 2px solid #2fa860;
    }

    .section-3 input[type="submit"]:hover, .section-3 input[type="submit"]:focus {
        background-color: #36c772;
        border: 2px solid #36c772;
    }

    .section-3 input[type="submit"]:focus {
        outline: none;
        border: 2px solid #4f5bb2;
    }

.section-3:after, .section-3:before {
    display: block;
    content: "";
    background: url(../images/mail-border.png) repeat-x;
    background-size: 50px;
    height: 12px;
}

.footer {
    color: #6a6a6a;
    text-align: right;
    font-size: 1.4rem;
    background-color: #FFF;
    padding: 3.0rem;
}



@media screen and (min-width: 780px) {
     
}

@media screen and (max-width: 780px) {
     .section-2 li {
        padding: 3.0rem;
        float: left;
        margin-right: 0;
        margin-bottom: 2rem;
        width:100%;
        /*background-color: #f6f6f6;*/
        border: 2px solid #f2f2f2;
        border-radius: 10px;
    }

    .service-title {
        
        height: 21.0rem;
        
    }

    .section-3 .half {
        width: 100%;
    }

    .hide-mobile {
        display: none;
    }
}

@media screen and (max-width: 568px) {
     
}

@media screen and (max-width: 568px) {

    
    
}

@media screen and (max-width: 480px) {
     .iphone {
       
        background-size: 66.1rem 70.6rem;
        width: 66.1rem;
        height: 70.6rem;
        position: absolute;
        top:16rem;
        left:05rem;
    }

    .section-1 .text {
        font-size: 4.2rem;
        font-weight: 300;
        color: #FFF;
        position: absolute;
        top: 2.0rem;
        left: 3.0rem;
        text-shadow: 0 1px 0 rgba(0,0,0,0.8);
        z-index:1;
       
    }
}